<?xml version="1.0" encoding="gb18030"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-autowire="byName" >
	
	<bean id="homeAction" class="com.ldl.bigframe.web.action.HomeAction" scope="prototype"/>
	<bean id="exceptionInterceptor" class="com.ldl.bigframe.web.interceptor.ExceptionInterceptor" scope="prototype"/>
</beans>